.modal-content-wrapper {
    /* width: 100%;
    height: 100%; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-content-info-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.modal-info-btn-form {
    position: relative;
    margin-bottom: 30px;
}

.edit-info-btn {
    position: absolute;
    right: 0;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
}
 
.email-form, .username-form, .userage-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.userinfo-title {
    font-size: 16px;
    color: blue;
}

.email-line, .username-line, .userage-line {
    font-size: 20px;
    color: black;
}

.userinfo-input {
    border: none;
    font-size: 16px;
    color: black;
    text-align: center;
}

.userinfo-input:focus, .userinfo-input:active  {
    outline: none;
}

.modal-content-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit-user-info-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit-user-info-title {
    color: blue;
    padding: 5px;
}

.edit-user-info-input {
    width: 70%;
    margin-bottom: 10px;
}

.save-user-info-btn-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.save-user-info-btn {
    background-color: blue;
    color: white;
    border: none;
    height: 30px;
}

.edit-password-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
