.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: .2s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-form-exit-form {
    display: flex;
    justify-content: left;
}

.modal-form-exit-btn {
    background-color: red;
    color: white;
    width: 80px;
    height: 40px;
}

.modal-content {
    width: 600px;
    height: auto;
    border: 2px solid blue;
    background-color: white;
    border-radius: 4px;
}

.todo-item-modal-form {
    text-align: center;
}

.todo-item-modal-btns-form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.todo-item-yes-btn {
    width: 90px;
    height: 30px;
    background-color: rgb(33, 167, 33);
    color: white;
}

.todo-item-no-btn {
    width: 90px;
    height: 30px;
    background-color: red;
    color: white;
}

.pass-edit-complete-line {
    text-align: center;
    font-size: 14px;
    color:rgb(33, 167, 33);
}

.pass-edit-error-line {
    text-align: center;
    font-size: 14px;
    color: red;
}

