.todo-list-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 3px;
}

.li-btns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.del-btn {
    color: white;
    background-color: crimson;
    border-radius: 2px;
}

.done-btn {
    color: white;
    background-color: limegreen;
    border-radius: 2px;
}

.done-btn-active {
    color: white;
    border-radius: 2px;
    background-color: darkblue;
}

.li-clicked {
    background-color: limegreen;
    color: white;
}
  