.title-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: blue;
    margin-right: 20px;
}

.pencil-img {
    max-width: 50px;
    max-height: 50px;
}