body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 700px;
  padding-top: 15px;
  margin: 0 auto;
  
}

.auth-form {
  width: 450px;
  margin: 0 125px 30px 125px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.auth-form-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.todo-input-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 35px;
}

.todo-list {
  padding: 0 10px;
  min-width: 550px;
  width: auto;
}

.fish-img {
  transform: translateY(0);
  width: 100px;
  height: 200px;
}

.fish-img-hide {
  display: none;
  transform: translateY(-1100px);
  transition: all .5s;
}

.img{
  display: block;
  max-width: 100%;
}


